#markerLayer img {
  animation: pulse .5s infinite alternate;
  -webkit-animation: pulse .5s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

#map {
    height: 100%;
    max-width: 1050px;
    max-height: 550px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}